<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>首页</title>
    <!-- 引入统一的css和js文件 -->
    <th:block th:replace="/backstage/common_resource::common_js"></th:block>
    <th:block th:replace="/backstage/common_resource::common_css"></th:block>
</head>

<body class="hold-transition skin-purple sidebar-mini">
    <!-- 引入页面头部 -->
    <header th:replace="/backstage/common_header::header"></header>
    <!-- 引入页面导航 -->
    <aside th:replace="/backstage/common_aside::aside"></aside>

    <div class="wrapper">
        <div class="content-wrapper"></div>
    </div>




    <!-- 引入页面底部 -->
    <footer th:replace="/backstage/common_footer::footer"></footer>
</body>

</html>